
@{
    ViewBag.Title = "Especialidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Especialidades</h2>

<form action="/Adm/EspecialidadePost" method="post">
    @Html.AntiForgeryToken()
    <div>
        <label>Nome da especialidade</label>
        <input type="text" name="especialidade.Nome" class="form-control" value="@ViewBag.Especialidade.Nome" />
        @Html.ValidationMessage("especialidade.Nome", new { @class = "text-danger" })
    </div>
    <div>
        <input type="submit" value="Enviar" class="btn btn-primary mt-3" />
    </div>
</form>

